.comicon {
  background: url(../images/icon.png) no-repeat;
  width: 300px;
  height: 300px;
}
.icon-clicks {
  width: 11px;
  height: 10px;
  background-position: 0 0;
}
body{position: relative}
/* .big-wrap {
  position: relative;
  width: 100%;
} */
.right-content {
  width: 20%;
  background: #222222;
  height: 650px;
  position: absolute;
  left: 80%;
  top: 0;
  overflow: hidden;
}

.right-content .search-wrap {
  margin: 0px 0px 16px 12px;
  width: 186px;
}
.right-content .search-wrap .search-input {
  width: 174px;
  height: 32px;
  background: #222222;
  border: solid 1px #fff;
  border-radius: 8px;
  color: #fff;
  padding-left: 10px;
  
}
.right-content .search-wrap .search-icon {
  width: 19px;
  height: 19px;
  background-position: -100px -100px;
  right: 13px;
  z-index: 2;
  top: 6px;
  cursor: pointer;
}
.right-content .nav-wrap {
  width: 99.5%;
  margin-left: 0.5%;
  background: -webkit-linear-gradient(#084a77, #032d6e);
  background: -o-linear-gradient(#084a77, #032d6e);
  background: -moz-linear-gradient(#084a77, #032d6e);
  background: linear-gradient(#084a77, #032d6e);
  padding-top: 6px;
  border-top: solid 1px #fff;
  height: 576px;
}
.right-content .nav-wrap .tit-wrap {
  width: 94%;
  margin: 0 auto;
  height: 32px;
}
.right-content .nav-wrap .tit-wrap li {
  width: 31.2%;
  margin-right: 2%;
  height: 30px;
  border: solid 1px #fff;
  border-radius: 6px 6px 0 0;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  background: -webkit-linear-gradient(#303030, #1e1e1e);
  background: -o-linear-gradient(#303030, #1e1e1e);
  background: -moz-linear-gradient(#303030, #1e1e1e);
  background: linear-gradient(#303030, #1e1e1e);
}
.right-content .nav-wrap .tit-wrap li:last-child {
  margin-right: 0;
}
.right-content .nav-wrap .tit-wrap li.active {
  background: -webkit-linear-gradient(#686868, #2d2e2d);
  background: -o-linear-gradient(#686868, #2d2e2d);
  background: -moz-linear-gradient(#686868, #2d2e2d);
  background: linear-gradient(#686868, #2d2e2d);
}
.right-content .jq-wraps{
  width: 94%;
  overflow: hidden
}
.right-content .fjq-wrap {
  width: 106%;
  margin: 0 auto;
  margin-top: 3px;
  height: 542px;
  overflow-x: hidden;
  overflow-y: auto;
}
.right-content .nav-first {
  width: 100%;
  height: 38px;
  line-height: 38px;

}
.right-content .nav-first .click-lf {
  left: 9px;
  top: 14px;
}
.right-content .nav-first .click-on {
  background-position: 0 -100px;
}
.right-content .nav-first .arrow-down {
  background-position: -100px 0;
  width: 17px;
  height: 10px;
  right: 15px;
  top: 11px;
}
.right-content .nav-first .arrow-open {
  background-position: 0 -200px;
}
.right-content .nav-first .text-tit {
  font-size: 14px;
  color: #fff;
  padding-left: 44px;
}
.right-content .nav-second {
  margin-left: 25px;
  border-left: solid 1px #fff;
  padding-bottom: 13px;
  margin-top: 6px
  /* display: none; */
}
.right-content .nav-second .second-tit {
  height: 28px;
}
.right-content .nav-second .second-tit .hover-layer {
  width: 100%;
  height: 100%;
  top: 8px;
}
.right-content .nav-second .second-tit .layer-on{
  background: rgba(255, 255, 255, 0.2);
}
.right-content .nav-second .second-click {
  bottom: 0;
  left: 9px;
}
.right-content .nav-second .click-on {
  background-position: 0 -100px;
}
.right-content .nav-second .scril-icon {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  bottom: 0;
  left: -4.5px;
  z-index: 2;
  border: solid 1px #0f3363;
}
.right-content .nav-second .scril-on {
  background: #0f3363;
}
.right-content .nav-second .text-tit-second {
  left: 25px;
  bottom: -3px;
  color: #fff;
}
.right-content .nav-third {
  margin-left: 48px;
  margin-top: 3px;
  border-left: solid 1px #fff;
  /* display: none; */
}
.right-content .nav-third li {
  height: 28px;
  line-height: 28px;
}
.right-content .nav-third li .solid-line {
  color: #fff;
}
.right-content .nav-third li .text-tit-third {
  padding-left: 10px;
  color: #fff;
}
.left-conent {
  width: 80%;
  height: 650px;
  background: #222222;
  overflow-y: auto;
}
.left-conent .sort-video {
  width: 100%;
}
.left-conent .video {
  width: 24.82%;
  border: solid 1px #000;
  overflow: hidden;
  background: #fff;
}
.left-conent .video img{width: 100%;height: 100%}
.left-conent video{width: 100%}
.left-conent .bot-tip{
  width: 100%;
  height: 27px;
  background: rgba(0,0,0,.66);
  bottom: 0;
  left: 0;
}
.left-conent .bot-tip p{
  text-align: center;
  color: #fff;
  line-height: 27px;
}
.left-conent .full-srcreen{
  right: 16px;
  top: 5px;
  width: 18px;
  height: 18px;
  background-position: -100px -200px;
}
.map-button{
  position: absolute;
  z-index: 3;
  right: 25px;
  bottom: 25px;
  height: 30px;
  width: 120px;
  border: solid 1px #fff;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  background: -webkit-linear-gradient(#303030, #1e1e1e);
  background: -o-linear-gradient(#303030, #1e1e1e);
  background: -moz-linear-gradient(#303030, #1e1e1e);
  background: linear-gradient(#303030, #1e1e1e);
  cursor: pointer
}
.map-button:hover{
  background: -webkit-linear-gradient(#686868, #2d2e2d);
  background: -o-linear-gradient(#686868, #2d2e2d);
  background: -moz-linear-gradient(#686868, #2d2e2d);
  background: linear-gradient(#686868, #2d2e2d);
}

.showmsg,.address-wrap{
  margin-left: 0.5%;
  background: #fff;
}
.showmsg .phpto-wrap,.showmsg .address-wrap{
  padding-top: 20px;
  background: #1a4497;
  color: #fff;
}

.showmsg .phpto-wrap li,.showmsg .address-wrap li{
  height: 30px;
  line-height: 30px;
  background: rgba(255,255,255,.2);
  margin-top: 2px;
  padding-left: 45px;
}
.showmsg .tit-lf{
  width: 80px;
  text-align: right;
  margin-right: 15px;
}
.sort-show{
  margin-left: 10px;
  width: 100px;
  height: 30px;
  line-height: 30px;
  border: solid 1px #fff;
  padding: 0 10px;
  border-radius: 4px 4px 0 0;
  color: #fff;
  margin-bottom: 16px;
}
.sort-show .arrows-up{
  right: 10px;
  width: 12px;
  height: 9px;
  background-position: -200px 0;
  top: 10px;
}
.sort-show .arrows-down{
  background-position: -200px -100px;;
}
.sort-show .model-wrap{
  width: 100px;
  top: 30px;
  left: -1px;
  background: #222222;
  width: 100px;
  padding: 0 10px;
  border: solid 1px #fff;
  z-index: 3;
  display: none;
}
.sort-show .model-wrap li{
  cursor: pointer;
  height: 28px;
  line-height: 28px;
}
.esc{
  width: 26px;
  height: 26px;
  background-position: -200px -200px;
  left: 20px;
  top: 20px;
  display: none;
  cursor: pointer;
  z-index: 10;
}
.full-screen{
  width: 100%;
  z-index: 5;
}
@media screen and (min-width:1440px) and (max-width:1680px){
  .right-content{height: 450px;}
  .right-content .nav-wrap{height: 378px;}
  .right-content .fjq-wrap{height: 342px;}
  .left-conent{height:450px}
  /* .left-conent .video{height: 223px;} */
}
@media screen and (min-width:1920px){
  .left-conent .video {
    width: 24.86%;
  }
  .full-screen .video {
    width: 19.86%;
  }
}
@media screen and (max-width:1380px){
  .left-conent .video{width:24.81%;}
}

#content_1 .mCSB_scrollTools a+.mCSB_draggerContainer{
 display: none
}

.search-show{
  padding-top: 16px;
}
.left-conent .big-screen{
  right: 45px;
  top: 5px;
  width: 18px;
  height: 18px;
  background:url(../images/nei.png) no-repeat;
  background-size: 100%;
}
.model3style{
  display: none
}
.left-conent .model3style .big-screen{
  background: url(../images/icon.png) no-repeat;
  right: 16px;
  top: 5px;
  width: 18px;
  height: 18px;
  background-position: -100px -200px;
}

.left-conent .videos {
  width: 100%;
  overflow: hidden;
  background: #fff;
}
.left-conent .close-srcreen{
 width: 18px;
 height: 18px;
 background: url(../images/close1.png) no-repeat;
 background-size: 100%;
 right: 16px;
 top: 5px;
}
.creamas-icon{
  left: 84px;
  color: #fff;
  top: 14px;
  width: 17px;
  height: 20px;
  background: url(../images/camera.png) no-repeat;
}


.showmsg{background: #1a4497;}